<a href="http://google.com">Google.com</a>

<div style="width: 1000px;">

	<div class="ad-unit" data-ad="5">
	</div>

	<div class="ad-unit">
	</div>

	<div class="ad-unit">
	</div>

	<div class="ad-unit">
	</div>

	<div class="ad-unit">
	</div>

	<div class="ad-unit">
	</div>

	<div class="ad-unit">
	</div>

</div>
