

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <form action="" method="POST">
        <input type="hidden" name="u" value="">
        <input type="hidden" name="id" value="">

        <div class="row">

          <div class="form-group col-sm-4">
            <input class="form-control" type="text" name="MERGE1" id="MERGE1" size="25" value="">
            <label for="MERGE1">First Name <span class="req asterisk">*</span></label>
          </div>

          <div class="form-group col-sm-4">
            <input class="form-control" type="text" name="MERGE2" id="MERGE2" size="25" value="">
            <label for="MERGE2">Last Name <span class="req asterisk">*</span></label>
          </div>

          <div class="form-group col-sm-4">
            <input class="form-control" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
            <label for="MERGE0">Email Address <span class="req asterisk">*</span></label>
          </div>

          <div class="form-group col-sm-4">
            <input class="form-control" type="text" id="MERGE3-addr1" name="MERGE3[addr1]" maxlength="70" value="">
            <label for="MERGE3-addr1">Street Address</label>
          </div>

          <div class="form-group col-sm-4">
            <input class="form-control" type="text" id="MERGE3-city" name="MERGE3[city]" maxlength="40" value="">
            <label for="MERGE3-city">City</label>
          </div>

          <div class="form-group col-sm-1">
            <input class="form-control" type="text" id="MERGE3-state" name="MERGE3[state]" maxlength="20" value="">
            <label for="MERGE3-state">State</label>
          </div>

          <div class="form-group col-sm-3">
            <input class="form-control" type="text" id="MERGE3-zip" name="MERGE3[zip]" maxlength="10" value="" >
            <label for="MERGE3-zip">Postal / Zip Code</label>
          </div>
        </div>

        <div class="hidden-from-view">
          <input type="text" name="" tabindex="-1" value="">
        </div>

        <input type="submit" class="btn btn-primary" name="submit" value="Subscribe to list">

      </form>

    </div>
  </div>
</div>
